
.top_bar
  %p.top_bar__text グループを作成しました


.side_ber

  .header_left
    %p.header_left__text Tajima

    =link_to "https://www.facebook.com/", class: "header_left__btn" do
      = fa_icon 'cog'

    =link_to "https://www.facebook.com/", class: "header_left__btn" do
      = fa_icon 'edit'




  .content_left
    %p.content_left__top-text ああああああ

    %p.content_left__under-text フェスって素敵



.main


  .header_right
    .group  
      %p.group-name 右ヘッダー

      %p.group-menber ロッキン
    
    .edit
      =link_to "https://www.facebook.com/", class: "space__btn" do
        Edit




  .content_right
    
    .title
      %p.title__name 右メイン

      %p.title__date 時間

    

    %p.content_right__text 今日は

    %p.content_right__2-date 音楽が好き

    %p.content_right__2-text さよなら

  .footer
    .form
      .message_parent
        .message
          .message__text type a message
        .btn
          =link_to "https://www.facebook.com/", class: "btn__image" do
            = fa_icon 'image'
        
      .btm
        %a.send-btn Send
  




       
