.side_ber{
  height: 100vh;
  width: 300px;
  margin: 0;
  float: left;

    .header_left {
      height: 100px;
      background-color: #253141;
      font-size: 16px;
      padding: 0px 20px;
      box-sizing:border-box ;
      


      &__text{
        float: left;
        color:#ffffff;
        line-height:100px;
        
      }


      &__btn {
        float: right;
        color:#ffffff;
        line-height:100px;
        padding-left: 0.3rem;
      }
    }



    .content_left {
      width: 300px;
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding:20px 20px 0px;
      box-sizing:border-box ;


      &__top-text{
        color:#ffffff;
        padding:20px 0px 5px; 
        
      }


      &__under-text {
        color:#ffffff;
        padding-bottom: 40px;
      }


    }

}